.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%; // remember you are setting this for the height of it relative to the parent
	width: 100%; // soo 100% of the parent height and width 
	z-index: -1;
	opacity: .15;
	overflow: hidden;

	&__content {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}